@{
    ViewData["Title"] = "Home Page";
}

<div class="cvf-window cvf-minimum" data-trigger="controls" style="width: 0px;">
    <div class="cvf-window-title" style=""></div>
    <div class="cvf-window-content" style="">
        <div class="cvf-panel cvf-loading">
            <div class="cvf-panel-heading">
                <h1>IoT Service Fabric Dashboard</h1>
            </div>
            <div class="cvf-panel-body ">
            </div>
        </div>
    </div>
</div>
